.content {

    h1 {
        margin-top: 55px;
        text-align: start;
    }

    h2 {
        text-align: end;
    }

}


img {
    width: 100%;
    aspect-ratio: 300/200;
}

.container {
    width: 50%;
}